
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* font style */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
/* full web bg */
body{
    background: linear-gradient(90deg, #2e4932 0.000%, #2e4932 7.692%, #36503b calc(7.692% + 1px), #36503b 15.385%, #3e5744 calc(15.385% + 1px), #3e5744 23.077%, #465e4d calc(23.077% + 1px), #465e4d 30.769%, #4d6555 calc(30.769% + 1px), #4d6555 38.462%, #546b5c calc(38.462% + 1px), #546b5c 46.154%, #5a7163 calc(46.154% + 1px), #5a7163 53.846%, #5f7768 calc(53.846% + 1px), #5f7768 61.538%, #637c6d calc(61.538% + 1px), #637c6d 69.231%, #668070 calc(69.231% + 1px), #668070 76.923%, #688372 calc(76.923% + 1px), #688372 84.615%, #688673 calc(84.615% + 1px), #688673 92.308%, #678873 calc(92.308% + 1px) 100.000%);

}
.container-1{
    width: 400px;
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.moving-text{
    color: white;
    font-size: 30px;
    padding: 40px;
    white-space: nowrap;
    animation: moveText 20s linear infinite;
}

@keyframes moveText{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}
/* shared style */
.container{
    max-width: 1240px;
    margin: 0 auto;
}

.text-white{
  color: white;
}

a{
  text-decoration: none;
  color:white
}
ul{
  list-style: none;
}
img{
  width: 100%;
}
section{
  padding:100px 0;
}
/* nav style */
nav>h2 {
  font-size: 24px;
  font-weight: bold;
}
.color{
   background: -webkit-linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.navbar{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;

}

.nav-items{
  display: flex;
  gap:15px;
}
/* banner   */
.btn{
  padding: 5px 20px;
  background-color: #E02C6D;
  border:none;
  color:white;
  border-radius: 10px;
  font-size: 20px;
  transition: all ease-in-out 0.3s;
}
.btn:hover{
  background-color: rgb(169, 222, 151);
}
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content h1{
  font-size: 52px;
  font-weight: 800;

}
.banner-content p{
  margin: 10px 0;
}
.banner-content,.banner-img{
  width: 50%;
}
.banner-img{
 background-image:url(./../images/Circle\ design.svg) ; 
 background-repeat: no-repeat;
 background-position: center;
}
/* sponsor section style */
.sponsor{
  background-color: white;
  margin:30px 80px;
  padding:20px 0;
  border-radius: 5px;
}

.img-container{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
/* product section */
.section-tittle{
  text-align: center;
  font-size:28px ;
  font-weight: bolder;

}
.rating{
  display: flex;
  gap: 30px;
}
svg.svg-inline--fa.fa-star {
    color: orange;
}
.product-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-top: 50px;
  
}
.product-card{
  border:2px solid #a3a666a9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 5px 0 5px 0 #2e4932;
  cursor: pointer;
}
.product-card img{ transition: all ease-in-out 0.3s;}

.product-card img:hover{
  transform:scale(1.1);
}

.scroll{
  margin-top: 20px;
  text-align: end;
  cursor: pointer;

}
/* feature section */

.feature-section{
   background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("./../gaget.bg.webp");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.feature{
  display: flex;
  gap: 60px;
  align-items: center;
}
.feature-img{
  width: 40%;
}
.feature-content{
  width: 60%;
}
.feature-content  p{
  margin: 30px 0; 
}
.feature-content h2{
  font-size: 38px;
  font-weight: bold;}
/* }footer  */
.footer-section{
  background-color:hsl(198, 35%, 28%) ;
width: 100%;
height: 100%;
margin-top: 60px;
padding: 50px ;}
.footer-content{
  text-align: center;
}
.footer-content p{
  font-size: 10px;
  padding: 10px;
}

.footer-icons{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
